<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My api</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/css/demo.css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
  </head>
  <body>
    <div>
      <div class="main-title">
        <h1 class="">Sentimental <span class="thin">analysis<br></span></h1>
        <br>
        <form name="f1" action="process">
          <input type="text" name="text">
          <input type="submit" value="Check">
        </form>
      </div>
      <div class="large-header" id="large-header">
        <canvas id="demo-canvas"></canvas>
      </div>
    </div>
    <script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js'></script>
    <script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js'></script>
    <script src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js'></script>
    <script  src="{{ url_for('static',filename='index.js')}}"></script>
  </body>
</html>
